/* Font size constants */

$font-huge: 3em;
$font-extra-large: 1.5em;
$font-large: 1.2em;
$font-base: 1em;
$font-small: 0.9em;
$font-extra-small: 0.8em;

/* Color constants */

$color-primary: rgb(3, 104, 152);
$color-arrow: rgb(40, 102, 148);
$color-background: rgb(233, 238, 231);
$color-carousel-background: rgb(255, 255, 255);